{% extends 'base.html' %}
{% load static %}


{% block additional_header %}
  <meta property="og:title" content="{{ settings.site_title }}" />
  {% if featured %}
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ featured.image.url }}" />
  {% else %}
    {% if settings.favicon %}
      <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ settings.favicon.url }}" />
    {% else %}
      <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static '/img/teemo-cms.png' %}">
    {% endif %}
  {% endif %}
  <meta property="og:description" content="{{ page_content|striptags|truncatewords:20 }}" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
{% endblock %}


{% block content %}
<v-row class="mt-12">
  <v-col
    cols="12"
    md="7"
  >
    {{ page_content }}
  </v-col>
  <v-col
    cols="12"
    md="5"
  >
    <v-card>
      <v-card-text>
        {% if featured %}
          <v-img src="{{ featured.image.url }}"></v-img>
          <p class="text-h6 mt-6">{{ featured.title }}</p>
          <p class="text-body-1">by {{ featured.artist }}</p>
        {% else %}
          {% if settings.dark_mode %}
            <v-img src="{% static 'img/teemo-cms-dark.png' %}"></v-img>
          {% else %}
            <v-img src="{% static 'img/teemo-cms.png' %}"></v-img>
          {% endif %}
        {% endif %}
      </v-card-text>
    </v-card>
  </v-col>
</v-row>
{% endblock %}