{% extends "base.html" %}


{% block content %}
<v-card
  max-width="400"
  class="mx-auto mt-12"
>
  <v-card-title class="text-h5">Login</v-card-title>
  <v-card-text>
    <v-row>
      <v-col cols="12">
        <v-text-field
          label="Username"
          v-model="username"
          :error="!!error"
          v-on:keyup.enter="sendLogin"
        ></v-text-field>
      </v-col>
      <v-col cols="12">
        <v-text-field
          label="Password"
          v-model="password"
          type="password"
          :error-messages="error"
          v-on:keyup.enter="sendLogin"
        ></v-text-field>
      </v-col>
    </v-row>
  </v-card-text>
  <v-card-actions>
    <v-spacer></v-spacer>
    <v-btn
      text
      color="success"
      @click="sendLogin"
    >
      Login
    </v-btn>
  </v-card-actions>
</v-card>
{% endblock %}


{% block data %}
  username: '',
  password: '',
  error: null
{% endblock %}


{% block methods %}
{
  sendLogin() {
    let csrf_token = Cookies.get('csrftoken')
    this.$http.post('/api/login/', {username: this.username, password: this.password}, {headers: {'X-CSRFToken': csrf_token}})
      .then(r => {
        this.$snotify.success("Sending you to the home page...", "Logged in")
        setTimeout(function() {
          window.location = '/'
        }, 2500)
      })
      .catch(err => {
        console.log(err)
        this.error = err.body
        this.$snotify.error("Check console for errors", "Error")
      })
  }
}
{% endblock %}