{% extends "base.html" %}


{% block content %}
<v-card
  max-width="400"
  class="mx-auto mt-12"
>
  <v-card-title class="text-h5">Logout</v-card-title>
  <v-card-text>
    <p class="text-body-1">Are you sure you want to log out?</p>
  </v-card-text>
  <v-card-actions>
    <v-spacer></v-spacer>
    <v-btn
      text
      @click="cancel"
    >
      Cancel
    </v-btn>
    <v-btn
      text
      color="success"
      @click="logout"
    >
      Logout
    </v-btn>
  </v-card-actions>
</v-card>
{% endblock %}


{% block methods %}
{
  logout() {
    this.$http.get('/api/logout/')
      .then(r => {
        this.$snotify.success("See you next time!", "Logged out")
        setTimeout(function() {
          window.location = '/'
        }, 2500)
      })
      .catch(err => {
        console.log(err)
        this.$snotify.error("I don't even know how, but there was an error. Check the console!", "Error")
      })
  },
  cancel() {
    window.history.back()
  }
}
{% endblock %}