{% extends 'base.html' %}
{% load thumbnail %}


{% block title %}{{ gallery.name }} Gallery | {% endblock %}


{% block additional_header %}
  <meta property="og:title" content="{{ gallery.name }} Gallery" />
  {% if random_image %}
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ random_image.image.url }}" />
    <meta property="og:description" content="Check out '{{ random_image.title }}' and more in the {{ gallery.name }} gallery on {{ settings.site_title }}" />
  {% elif settings.favicon %}
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ settings.favicon.url }}" />
    <meta property="og:description" content="Check out my {{ gallery.name }} gallery and more on {{ settings.site_title }}" />
  {% else %}
    <meta property="og:description" content="Check out my {{ gallery.name }} gallery and more on {{ settings.site_title }}" />
  {% endif %}
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
{% endblock %}


{% block container-attributes %} v-on:keyup.esc="lightbox=false"{% endblock %}


{% block content %}
<v-row>
  <v-col cols="12" md="6">
    <h1 class="text-h1 mb-6 d-none d-md-block">{{ gallery.name }}</h1>
    <h3 class="text-h3 mb-6 d-md-none">{{ gallery.name }}</h3>
  </v-col>
  <v-col cols="12" md="6">
    <v-combobox
      outlined
      chips
      multiple
      :items="tags"
      label="Search"
      v-model="search"
      @keyup.enter="doSearch"
    >
      <template v-slot:append-outer>
        <v-btn
          icon
          href="{% url 'gallery' gallery.slug %}"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </template>
    </v-combobox>
  </v-col>
  {% for image in images %}
    <v-col cols="12" sm="6" md="4" lg="3">
      <v-card @click.prevent="showLightbox('{{ image.image.url }}', {{ image.id }})" href="{% url 'image' gallery=gallery.slug pk=image.pk %}">
        {% thumbnail image.image "250x250" format="PNG" as thumb %}
          <v-img
            src="{{ image.image.url }}"
            lazy-src="{{ thumb.url }}"
            :aspect-ratio="6/9"
          ></v-img>
        {% endthumbnail %}
      </v-card>
    </v-col>
  {% endfor %}
</v-row>
<v-row>
  <v-col cols="12">
    <v-pagination
      v-model="page"
      :length="pages"
      total-visible="7"
    ></v-pagination>
  </v-col>
</v-row>

<v-dialog
  fullscreen
  v-model="lightbox"
  transition="fade-transition"
>
  <v-sheet color="rgba(0,0,0,0.6)" height="100%">
    <v-row v-if="!!selectedImage" class="mx-0">
      <v-col cols="12" class="py-0 d-flex align-center" style="height: 100vh;">
        <v-img
          contain
          max-height="calc(100vh - 24px)"
          :src="selectedImage"
          class="my-3"
        ></v-img>
      </v-col>
    </v-row>
    <v-btn
      icon
      x-large
      fixed top right
      @click="lightbox = false"
    >
      <v-icon x-large>mdi-close</v-icon>
    </v-btn>
    <v-btn
      icon
      x-large
      fixed top left
      :href="`/gallery/{{ gallery.slug }}/${selectedImageId}/`"
      target="_blank"
      color="info"
    >
      <v-icon x-large>mdi-information</v-icon>
    </v-btn>
    <v-btn
      fab
      fixed bottom left
      download
      :href="selectedImage"
      color="success"
    >
      <v-icon>mdi-download</v-icon>
    </v-btn>
  </v-sheet>
</v-dialog>
{% endblock %}


{% block data %}
  page: {{ page_obj.number }},
  pages: {{ paginator.num_pages }},
  lightbox: false,
  selectedImage: null,
  selectedImageId: null,
  tags: {{ tags|safe|default:'[]' }},
  search: {{ search|safe|default:'[]' }},
{% endblock %}


{% block methods %}
{
  showLightbox(url, id) {
    this.selectedImage = url
    this.selectedImageId = id
    this.lightbox = true
  },
  doSearch() {
    window.location = '{% url 'gallery' gallery.slug %}?q=' + this.search
  }
}
{% endblock %}


{% block watch %}
{
  page: function(val) {
    let url = window.location.search
    let params = new URLSearchParams(url)
    params.set('page', val)
    window.location = '{% url 'gallery' gallery.slug %}?' + params.toString()
  }
}
{% endblock %}