{% extends "base.html" %}


{% block title %}{{ object.title }} | {% endblock %}


{% block additional_header %}
  <meta property="og:title" content="{{ object.title }} by {{ object.artist }}" />
  <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ object.image.url }}" />
  {% if object.description %}
    <meta property="og:description" content="{{ object.description }}" />
  {% endif %}
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
{% endblock %}


{% block content %}
<v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
<v-card class="mx-auto mt-6" :max-width="maxWidth" style="transition: width 1s ease-in-out, height 1s ease-in-out">
  <v-img
    src="{{ object.image.url }}"
    max-width="100%"
    max-height="100%"
    contain
    @click="changeSize"
  ></v-img>
  <v-card-text>
    <h1 class="text-h4">{{ object.title }}</h1>
    <h2 class="text-h5 mb-3">
      Artist: <span class="font-weight-bold"><a href="{{ object.artist_link }}" target="_blank">{{ object.artist }}</a> ({{ object.commission_date }})</span>
    </h2>
    <p class="text-body-1">
      {{ object.description }}
    </p>
    <v-divider></v-divider>
    <v-chip-group column>
      {% for tag in object.get_tags %}<v-chip href="{% url 'gallery' galleryimage.gallery.slug %}?q={{ tag }}">{{ tag }}</v-chip>{% endfor %}
    </v-chip-group>
  </v-card-text>
</v-card>
{% endblock %}


{% block data %}
  maxWidth: 800,
  maxHeight: 600,
  breadcrumbs: [
    {text: '{{ object.gallery.name }}', href: '{% url 'gallery' object.gallery.slug %}'},
    {text: '{{ object.title }}', disabled: true}
  ]
{% endblock %}


{% block methods %}
{
  changeSize() {
    if(this.maxWidth == 800) {
      this.maxWidth = '100vw'
      this.maxHeight = '100vh'
    } else {
      this.maxWidth = 800
      this.maxHeight = 600
    }
  }
}
{% endblock %}