{% extends "base.html" %}


{% block title %}Editing {{ gallery.name }} | {% endblock %}


{% block content %}
<v-container>
  <v-card
    max-width="1200"
    class="mx-auto mb-12"
  >
    <v-card-title class="text-h5">Manage {{ gallery.name }} Gallery</v-card-title>
    <v-card-text>
      <v-data-table
        :headers="headers"
        :items="images"
        :footer-props="{
          'items-per-page-options': [20, 30, 40, 50]
        }"
        :items-per-page="20"
        sort-by="-commission_date"
      >
        <template v-slot:item.image="{ item }">
          <v-img
            :src="item.image"
            width="100"
          ></v-img>
        </template>
        <template v-slot:item.id="{ item }">
          <v-btn
            icon
            large
            color="info"
            @click="openEditDialog(item.id)"
          >
            <i class="fas fa-edit fa-lg"></i>
          </v-btn>
          <v-btn
            icon
            large
            color="error"
            @click="deleteImage(item.id)"
          >
            <i class="fas fa-trash-alt fa-lg"></i>
          </v-btn>
        </template>
      </v-data-table>
    </v-card-text>
    <v-btn
      fab
      absolute
      bottom
      right
      color="success"
      @click.stop="openNewDialog"
    >
      <i class="fas fa-plus fa-2x"></i>
    </v-btn>
  </v-card>
</v-container>

<v-dialog
  v-model="imageDialog"
  max-width="600"
>
  <v-card>
    <v-img
      v-if="image_url"
      :src="image_url"
    ></v-img>
    <v-card-title class="text-h5" v-if="editMode">Edit Image</v-card-title>
    <v-card-title class="text-h5" v-else>New Image</v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="12" v-if="!editMode">
          <v-file-input
            outlined
            v-model="image"
            label="Image"
          >
            <template v-slot:append>
              <span style="color: #FF5252"><i class="fas fa-asterisk"></i></span>
            </template>
          </v-file-input>
        </v-col>
        <v-col cols="12">
          <v-text-field
            outlined
            label="Image Title"
            v-model="formData.title"
            :error-messages="errors.title"
          >
            <template v-slot:append>
              <span style="color: #FF5252"><i class="fas fa-asterisk"></i></span>
            </template>
          </v-text-field>
        </v-col>
        <v-col cols="12">
          <v-select
            outlined
            persistent-hint
            v-model="formData.gallery"
            label="Gallery"
            hint="Gallery the image belongs to"
            :items="galleries"
            item-text="name"
            item-value="id"
            :error-messages="errors.gallery"
          >
            <template v-slot:append>
              <span style="color: #FF5252"><i class="fas fa-asterisk"></i></span>
            </template>
          </v-select>
        </v-col>
        <v-col cols="12">
          <v-textarea
            outlined
            persistent-hint
            label="Description"
            v-model="formData.description"
            hint="Description will display on image popup in gallery"
            :error-messages="errors.description"
          ></v-textarea>
        </v-col>
        <v-col cols="12">
          <v-text-field
            outlined
            Persistent-hint
            label="Artist Name"
            v-model="formData.artist"
            hint="Credit the artist who created this piece, even if it's you!"
            :error-messages="errors.artist"
          >
            <template v-slot:append>
              <span style="color: #FF5252"><i class="fas fa-asterisk"></i></span>
            </template>
          </v-text-field>
        </v-col>
        <v-col cols="12">
          <v-text-field
            outlined
            persistent-hint
            label="Artist URL (must include http:// or https://)"
            v-model="formData.artist_link"
            hint="Patreon, website, FurAffinity, DeviantArt, etc."
            :error-messages="errors.artist_link"
          >
          </v-text-field>
        </v-col>
        <v-col cols="12">
          <v-menu
            ref="dateMenu"
            v-model="dateMenu"
            :close-on-content-click="false"
            :return-value.sync="formData.commission_date"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                outlined
                persistent-hint
                label="Commission Date"
                v-model="formData.commission_date"
                prepend-icon="event"
                readonly
                v-on="on"
                :error-messages="errors.commission_date"
              ></v-text-field>
            </template>
            <v-date-picker v-model="formData.date" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text @click="dateMenu = false">Cancel</v-btn>
              <v-btn text color="success" @click="$refs.dateMenu.save(formData.date)">OK</v-btn>
            </v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="12">
          <v-autocomplete
            outlined
            multiple
            :items="allTags"
            label="Tags"
            v-model="formData.tags"
          ></v-autocomplete>
        </v-col>
        <v-col cols="6">
          <v-switch
            persistent-hint
            v-model="formData.featured"
            label="Featured Image"
            hint="Image will be shown in cycle on home page"
            :error-messages="errors.featured"
          ></v-switch>
        </v-col>
        <v-col cols="6">
          <v-text-field
            outlined
            persistent-hint
            v-model="formData.order"
            label="Order"
            hint="Order of image in gallery"
            :error-messages="errors.order"
          ></v-text-field>
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        text
        @click="closeDialog"
      >
        Cancel
      </v-btn>
      <v-btn
        text
        color="success"
        @click="saveDialog"
      >
        Save
      </v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
{% endblock %}


{% block data %}
  dateMenu: false,
  imageDialog: false,
  editMode: false,
  image: null,
  image_url: null,
  headers: [
    {text: 'Image', value: 'image'},
    {text: 'Title', value: 'title'},
    {text: 'Order', value: 'order'},
    {text: 'Commission Date', value: 'commission_date'},
    {text: 'Tags', value: 'tags'},
    {text: 'Actions', value: 'id'}
  ],
  images: [
    {% for image in images %}
    {
      image: '{{ image.image.url }}',
      gallery: {{ image.gallery.id }},
      title: '{{ image.title|escapejs }}',
      description: '{{ image.description|escapejs }}',
      artist: '{{ image.artist|escapejs }}',
      artist_link: '{{ image.artist_link|escapejs }}',
      commission_date: '{{ image.commission_date|date:'Y-m-d' }}',
      tags: {{ image.get_tags|safe|default:'[]' }},
      featured: {{ image.featured|yesno:'true,false' }},
      order: {{ image.order }},
      id: {{ image.id }}
    }{% if not forloop.last %},{% endif %}
    {% endfor %}
  ],
  galleries: [],
  formData: {},
  errors: {},
  allTags: {{ allTags|safe|default:'[]' }}
{% endblock %}


{% block methods %}
{
  fetchGalleries() {
    this.$http.get('/api/gallery/')
      .then(r => r.json())
      .then(r => this.galleries = r)
      .catch(err => {
        console.log(err)
        this.$snotify.error("Could not load galleries from API, please check the console for errors", "Error!")
      })
  },
  closeDialog() {
    this.imageDialog = false
    this.editMode = false
    this.image = null
    this.image_url = null
    this.formData = {}
  },
  saveDialog() {
    let csrf_token = Cookies.get('csrftoken')
    if(this.editMode) {
      delete this.formData.image
      this.$http.patch(`/api/gallery-image/${this.editModePk}/`, this.formData, {headers: {'X-CSRFToken': csrf_token}})
        .then(r => {
          this.$snotify.success("Image updated successfully", "Saved")
          this.closeDialog()
          setTimeout(function(){
            window.location.reload()
          }, 2500)
        })
        .catch(err => {
          this.$snotify.error("Could not save. Check console for errors", "Error!")
          this.errors = err.body
          console.log(err)
        })
    } else {
      if(!this.image) {
        this.$snotify.error("You didn't include an image!", "Error")
      } else {
        let submitData = new FormData()
        submitData.append("image", this.image, this.image.name)
        for(let k in this.formData) {
          submitData.append(k, this.formData[k])
        }
        this.$http.post('/api/gallery-image/', submitData, {headers: {'X-CSRFToken': csrf_token}})
          .then(r => r.json())
          .then(r => {
            this.$snotify.success("Images added successfully", "Created")
            this.closeDialog()
            setTimeout(function(){
              window.location.reload()
            }, 2500)
          })
          .catch(err => {
            this.$snotify.error("Could not save image. Check form for errors", "Error!")
            this.errors = err.body
            console.log(err)
          })
      }
    }
  },
  openNewDialog() {
    this.formData = {
      title: '',
      description: '',
      gallery: '',
      artist: '',
      artist_link: '',
      commission_date: '',
      date: '',
      featured: false,
      order: 0
    }
    this.imageDialog = true
  },
  openEditDialog(pk) {
    this.editMode = true
    this.editModePk = pk
    this.formData = this.images.filter(i => i.id == pk)[0]
    this.imageDialog = true
  },
  deleteImage(pk) {
    let csrf_token = Cookies.get('csrftoken')
    this.$http.delete(`/api/gallery-image/${pk}/`, {headers: {'X-CSRFToken': csrf_token}})
      .then(r => {
        this.$snotify.success("Image deleted successfully", "Deleted")
        setTimeout(function(){
          window.location.reload()
        }, 2500)
      })
      .catch(err => {
          this.$snotify.error("Could not delete image. Check console for errors", "Error!")
          console.log(err)
        })
  }
}
{% endblock %}


{% block watch %}
{
  image: function(newImage) {
    if(this.newImage !== null) {
      this.image_url = URL.createObjectURL(newImage)
    }
  }
}
{% endblock %}


{% block mounted %}
{
  this.fetchGalleries()
}
{% endblock %}