{% extends "base.html" %}


{% block title %}Edit Blog | {% endblock %}


{% block content %}
<v-container>
  <v-card class="mx-auto">
    <v-card-title class="text-h5">Blog Entries</v-card-title>
    <v-data-table
      hide-default-footer
      disable-pagination
      disable-sort
      :headers="headers"
      :items="entries"
    >
      <template v-slot:item.status="{ item }">
        [[ item.status == 0 ? 'Draft' : 'Published' ]]
      </template>
      <template v-slot:item.id="{ item }">
        <v-btn
          icon
          color="info"
          @click="openEditDialog(item)"
        >
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
        <v-btn
          icon
          color="error"
        >
          <v-icon>mdi-delete</v-icon>
        </v-btn>
      </template>
    </v-data-table>
    <v-card-actions>
      <v-pagination
        v-model="page"
        :length="pages"
        total-visible="7"
        class="mx-auto"
      ></v-pagination>
    </v-card-actions>
    <v-btn
      fab
      absolute
      bottom
      right
      color="success"
      @click.stop="newDialog = true"
    >
      <i class="fas fa-plus fa-2x"></i>
    </v-btn>
  </v-card>
</v-container>

<v-dialog
  v-model="editDialog"
  max-width="800"
>
  <v-card v-if="editDialog">
    <v-card-title class="text-h5">Editing [[ selectedEntry.title ]]</v-card-title>
    <v-card-text class="text-body-1">
      <v-row>
        <v-col cols="12">
          <v-text-field
            outlined
            persistent-hint
            label="Title"
            v-model="editCopy.title"
            hint="Must be unique"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-menu
            offset-y
            ref="editDateMenu"
            v-model="editDateMenu"
            :close-on-content-click="false"
            :return-value.sync="editCopy.publishedDate"
            transition="scale-transition"
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                outlined
                readonly
                v-model="editCopy.publishedDate"
                label="Publish Date"
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="editCopy.publishedDate" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text @click="editDateMenu = false">Cancel</v-btn>
              <v-btn text color="success" @click="$refs.editDateMenu.save(editCopy.publishedDate)">OK</v-btn>
            </v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="12" md="6">
          <v-menu
            offset-y
            ref="editTimeMenu"
            v-model="editTimeMenu"
            :close-on-content-click="false"
            :return-value.sync="editCopy.publishedTime"
            transition="scale-transition"
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                outlined
                readonly
                v-model="editCopy.publishedTime"
                label="Publish Time"
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-time-picker v-model="editCopy.publishedTime" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text @click="editTimeMenu = false">Cancel</v-btn>
              <v-btn text color="success" @click="$refs.editTimeMenu.save(editCopy.publishedTime)">OK</v-btn>
            </v-time-picker>
          </v-menu>
        </v-col>
        <v-col cols="12">
          <v-textarea
            outlined
            persistent-hint
            label="Text"
            hint="Markdown supported"
            v-model="editCopy.body"
          ></v-textarea>
        </v-col>
        <v-col cols="12">
          <v-autocomplete
            outlined
            multiple
            label="Tags"
            :items="allTags"
            v-model="editCopy.tags"
          ></v-autocomplete>
        </v-col>
        <v-col cols="12">
          <v-radio-group v-model="editCopy.status">
            <v-radio
              label="Published"
              :value="1"
            ></v-radio>
            <v-radio
              label="Draft"
              :value="0"
            ></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        text
        @click="cancelEdit"
      >
        Cancel
      </v-btn>
      <v-btn
        text
        @click="saveEdit"
        color="success"
      >
        Save
      </v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>

<v-dialog
  v-model="newDialog"
  max-width="800"
>
  <v-card>
    <v-card-title class="text-h5">New Blog Entry</v-card-title>
    <v-card-text class="text-body-1">
      <v-row>
        <v-col cols="12">
          <v-text-field
            outlined
            persistent-hint
            label="Title"
            v-model="form.title"
            hint="Must be unique"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-menu
            offset-y
            ref="newDateMenu"
            v-model="newDateMenu"
            :close-on-content-click="false"
            :return-value.sync="form.publishedDate"
            transition="scale-transition"
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                outlined
                readonly
                v-model="form.publishedDate"
                label="Publish Date"
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="form.publishedDate" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text @click="newDateMenu = false">Cancel</v-btn>
              <v-btn text color="success" @click="$refs.newDateMenu.save(form.publishedDate)">OK</v-btn>
            </v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="12" md="6">
          <v-menu
            offset-y
            ref="newTimeMenu"
            v-model="newTimeMenu"
            :close-on-content-click="false"
            :return-value.sync="form.publishedTime"
            transition="scale-transition"
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                outlined
                readonly
                v-model="form.publishedTime"
                label="Publish Time"
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-time-picker v-model="form.publishedTime" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text @click="newTimeMenu = false">Cancel</v-btn>
              <v-btn text color="success" @click="$refs.newTimeMenu.save(form.publishedTime)">OK</v-btn>
            </v-time-picker>
          </v-menu>
        </v-col>
        <v-col cols="12">
          <v-textarea
            outlined
            persistent-hint
            label="Text"
            hint="Markdown supported"
            v-model="form.body"
          ></v-textarea>
        </v-col>
        <v-col cols="12">
          <v-autocomplete
            outlined
            multiple
            label="Tags"
            :items="allTags"
            v-model="form.tags"
          ></v-autocomplete>
        </v-col>
        <v-col cols="12">
          <v-radio-group v-model="form.status">
            <v-radio
              label="Published"
              :value="1"
            ></v-radio>
            <v-radio
              label="Draft"
              :value="0"
            ></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        text
        @click="cancelNew"
      >
        Cancel
      </v-btn>
      <v-btn
        text
        @click="saveNew"
        color="success"
      >
        Save
      </v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
{% endblock %}


{% block data %}
  page: {{ page_obj.number }},
  pages: {{ paginator.num_pages }},
  headers: [
    {text: 'Title', value: 'title'},
    {text: 'Status', value: 'status'},
    {text: 'Published', value: 'published'},
    {text: 'Actions', value: 'id', align: 'right'}
  ],
  entries: [
    {% for obj in page_obj %}
      {
        title: '{{ obj.title }}',
        status: {{ obj.status}},
        tags: {{ obj.get_tags|safe|default:'[]' }},
        published: '{{ obj.published }}',
        publishedDate: '{{ obj.published|date:'Y-m-d' }}',
        publishedTime: '{{ obj.published|time:'H:i:s' }}',
        body: '{{ obj.body|escapejs }}',
        id: {{ obj.id }}
      }{% if not forloop.last %},{% endif %}
    {% endfor %}
  ],
  form: {
    title: null,
    tags: [],
    publishedDate: '{% now 'Y-m-d' %}',
    publishedTime: '{% now 'H:i:s' %}',
    body: null,
    status: 1
  },
  allTags: {{ allTags|safe|default:'[]' }},
  statusOptions: [{text: 'Draft', value: 0}, {text: 'Published', value: 1}],
  selectedEntry: null,
  editCopy: null,
  editDialog: false,
  newDialog: false,
  editDateMenu: false,
  editTimeMenu: false,
  newDateMenu: false,
  newTimeMenu: false
{% endblock %}


{% block methods %}
{
  openEditDialog(entry) {
    this.selectedEntry = entry
    this.editCopy = {}
    Object.assign(this.editCopy, entry)
    this.editDialog = true
  },
  cancelEdit() {
    this.editDialog = false
    this.editCopy = null
    this.selectedEntry = null
  },
  cancelNew() {
      this.form = {
        title: null,
        tags: [],
        publishedDate: '{% now 'Y-m-d' %}',
        publishedTime: '{% now 'H:i:s' %}',
        body: null,
        status: 1
      }
      this.newDialog = false
  },
  saveEdit() {
    let csrf_token = Cookies.get('csrftoken')
    this.$http.patch(
      `{% url 'blogentry-list' %}${this.editCopy.id}/`,
      {
        id: this.editCopy.id,
        title: this.editCopy.title,
        body: this.editCopy.body,
        published: `${this.editCopy.publishedDate} ${this.editCopy.publishedTime}`,
        tags: this.editCopy.tags,
        status: this.editCopy.status
      },
      {headers: {'X-CSRFToken': csrf_token}}
    ).then(r => window.location.reload())
    .catch(err => {
      console.log(err)
      this.$snotify.error(err.body)
    })
  },
  saveNew() {
    let csrf_token = Cookies.get('csrftoken')
    this.$http.post(
      '{% url 'blogentry-list' %}',
      {
        author: {{ user.id }},
        title: this.form.title,
        body: this.form.body,
        published: `${this.form.publishedDate} ${this.form.publishedTime}`,
        tags: this.form.tags
      },
      {headers: {'X-CSRFToken': csrf_token}}
    ).then(r => window.location.reload())
    .catch(err => {
      console.log(err)
      this.$snotify.error(err.body)
    })
  }
}
{% endblock %}