{% extends "base.html" %}


{% block title %}Edit Blog | {% endblock %}


{% block content %}
<v-container>
  <v-card class="mx-auto" max-width="500">
    <v-card-title class="text-h5">Tags</v-card-title>
    <v-card-text class="text-body-1">
      <p>These tags are used for both images and blog posts.</p>
    </v-card-text>
    <v-data-table
      :headers="headers"
      :items="tags"
      no-data-text="No tags created &mdash; Add one below"
    >
      <template v-slot:item.id="{ item }">
        <v-btn
          icon
          color="info"
          @click="openEditDialog(item)"
        >
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
        <v-btn
          icon
          color="error"
          @click="deleteTag(item.id)"
        >
          <v-icon>mdi-delete</v-icon>
        </v-btn>
      </template>
      <template v-slot:footer>
        <div style="width:100%" class="d-flex justify-end">
          <v-btn
            text
            color="success"
            class="ma-1"
            @click="newDialog = true"
          >
            <v-icon left>mdi-plus</v-icon> Add tag
          </v-btn>
        </div>
      </template>
    </v-data-table>
  </v-card>
</v-container>

<v-dialog v-model="newDialog" max-width="500">
  <v-card>
    <v-card-title class="text-h5">New Tag</v-card-title>
    <v-card-text class="text-body-1">
      <v-text-field
        outlined
        label="Tag Name"
        v-model="newTagName"
        :rules="[rules.required]"
      ></v-text-field>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn text @click="newDialog = false">Cancel</v-btn>
      <v-btn text color="success" @click="saveNew">Save</v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>

<v-dialog v-model="editDialog" max-width="500">
  <v-card>
    <v-card-title class="text-h5">Editing '[[ editForm.name ]]'</v-card-title>
    <v-card-text class="text-body-1">
      <v-text-field
        outlined
        label="Tag Name"
        v-model="editForm.name"
        :rules="[rules.required]"
      ></v-text-field>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn text @click="editDialog = false">Cancel</v-btn>
      <v-btn text color="success" @click="saveEdit">Save</v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
{% endblock %}


{% block data %}
  tags: {{ tags|safe|default:'[]' }},
  editForm: {
    id: null,
    name: null
  },
  headers: [
    {text: 'Name', value: 'name'},
    {text: 'Actions', value: 'id', align: 'right'},
  ],
  newDialog: false,
  editDialog: false,
  newTagName: null,
  rules: {
    required: value => !!value || 'This field is required.'
  }
{% endblock %}


{% block methods %}
{
  openEditDialog(item) {
    this.editForm = item
    this.editDialog = true
  },
  saveEdit() {
    let csrf_token = Cookies.get('csrftoken')
    this.$http.patch(`{% url 'tag-list' %}${this.editForm.id}/`, this.editForm, {headers: {'X-CSRFToken': csrf_token}})
      .then(r => window.location.reload())
      .catch(err => {
        console.log(err)
        this.$snotify.error(err.body)
      })
  },
  saveNew() {
    let csrf_token = Cookies.get('csrftoken')
    this.$http.post('{% url 'tag-list' %}', {name: this.newTagName}, {headers: {'X-CSRFToken': csrf_token}})
      .then(r => window.location.reload())
      .catch(err => {
        console.log(err)
        this.$snotify.error(err.body)
      })
  },
  deleteTag(pk) {
    let csrf_token = Cookies.get('csrftoken')
    this.$http.delete(`{% url 'tag-list' %}${pk}/`, {headers: {'X-CSRFToken': csrf_token}})
      .then(r => window.location.reload())
      .catch(err => {
        console.log(err)
        this.$snotify.error(err.body)
      })
  }
}
{% endblock %}