{% extends "clean.html" %}


{% block content %}
<v-container>
  <h1 class="text-center text-h2">Welcome to Teemo CMS</h1>
  <h2 class="text-center text-h4">Let's get you set up</h2>
  <p class="text-center text-subtitle-1">Don't worry, all of these can be changed later</p>
  <v-card class="mt-12 mx-auto" max-width="600px">
    <v-card-text>
      <v-stepper v-model="step">
        <v-stepper-header>
          <v-stepper-step :complete="step > 1" step="1">Site info</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step :complete="step > 2" step="2">Theme</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="3">User Account</v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content step="1">
            <v-card>
              <v-toolbar :color="formData.toolbar_color ? formData.toolbar_color : ''">
                <v-toolbar-title>
                  <v-img
                    contain
                    v-if="toolbar_icon_url"
                    :src="toolbar_icon_url"
                    max-height="50"
                    max-width="50"
                  ></v-img>
                </v-toolbar-title>
                  <span class="ml-2 text-h5">[[ formData.toolbar_title ]]</span>
              </v-toolbar>
              <v-card-text>
                <span class="overline">Example toolbar</span>
                <v-divider></v-divider>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      persistent-hint
                      v-model="formData.site_title"
                      label="Site Title"
                      hint="Site title, e.g. 'Teemo CMS' or 'Atoro's Art'."
                      :rules="[rules.required]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      persistent-hint
                      v-model="formData.toolbar_title"
                      label="Toolbar Title (Optional)"
                      hint="Shows on the site navigation bar. Usually the same as the site title."
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-file-input
                      persistent-hint
                      label="Toolbar Icon (optional)"
                      prepend-icon="mdi-camera"
                      accept="image/png, image/jpeg, image/bmp"
                      hint="Icon to the left of the toolbar title"
                      v-model="toolbar_icon"
                    ></v-file-input>
                  </v-col>
                  <v-col cols="12">
                    <v-file-input
                      persistent-hint
                      label="Favicon (optional)"
                      prepend-icon="mdi-camera"
                      accept="image/png, image/jpeg, image/bmp"
                      hint="Icon in the browser tab and bookmarks"
                      v-model="favicon"
                    ></v-file-input>
                  </v-col>
                </v-row>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  :color="formData.success_color"
                  @click="step = 2"
                >
                  Next
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-stepper-content>
          <v-stepper-content step="2">
            <v-card>
              <v-toolbar :color="formData.toolbar_color ? formData.toolbar_color : ''">
                <v-toolbar-title>
                  <v-img
                    contain
                    v-if="toolbar_icon_url"
                    :src="toolbar_icon_url"
                    max-height="50"
                    max-width="50"
                  ></v-img>
                </v-toolbar-title>
                  <span class="ml-2 text-h5">[[ formData.toolbar_title ]]</span>
              </v-toolbar>
              <v-card-text>
                <span class="overline">Example toolbar</span>
                <v-divider></v-divider>
                <v-row>
                  <v-col cols="12">
                    <v-switch v-model="darkMode" label="Dark Mode" :color="formData.primary_color"></v-switch>
                  </v-col>
                  <v-col cols="10">
                    <v-text-field
                      persistent-hint
                      v-model="formData.toolbar_color"
                      label="Toolbar Color (Optional)"
                      :hint="`Leave blank for default ${darkMode ? 'dark' : 'light'} mode color`"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2">
                    <div style="width:35px;height: 35px;border-radius: 50%" :style="`background-color: ${formData.toolbar_color}`" class="elevation-6"></div>
                  </v-col>
                  <v-col cols="10">
                    <v-text-field
                      persistent-hint
                      v-model="formData.background_color"
                      label="Background Color (Optional)"
                      :hint="`Leave blank for default ${darkMode ? 'dark' : 'light'} mode color`"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2">
                    <div style="width:35px;height: 35px;border-radius: 50%" :style="`background-color: ${formData.background_color}`" class="elevation-6"></div>
                  </v-col>
                  <v-col cols="10">
                    <v-text-field
                      v-model="formData.primary_color"
                      label="Primary Color"
                      :rules="[rules.color]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2">
                    <div style="width:35px;height: 35px;border-radius: 50%" :style="`background-color: ${formData.primary_color}`" class="elevation-6"></div>
                  </v-col>
                  <v-col cols="10">
                    <v-text-field
                      v-model="formData.secondary_color"
                      label="Secondary Color"
                      :rules="[rules.color]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2">
                    <div style="width:35px;height: 35px;border-radius: 50%" :style="`background-color: ${formData.secondary_color}`" class="elevation-6"></div>
                  </v-col>
                  <v-col cols="10">
                    <v-text-field
                      v-model="formData.accent_color"
                      label="Accent Color"
                      :rules="[rules.color]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2">
                    <div style="width:35px;height: 35px;border-radius: 50%" :style="`background-color: ${formData.accent_color}`" class="elevation-6"></div>
                  </v-col>
                  <v-col cols="10">
                    <v-text-field
                      v-model="formData.error_color"
                      label="Error Color"
                      :rules="[rules.color]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2">
                    <div style="width:35px;height: 35px;border-radius: 50%" :style="`background-color: ${formData.error_color}`" class="elevation-6"></div>
                  </v-col>
                  <v-col cols="10">
                    <v-text-field
                      v-model="formData.info_color"
                      label="Info Color"
                      :rules="[rules.color]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2">
                    <div style="width:35px;height: 35px;border-radius: 50%" :style="`background-color: ${formData.info_color}`" class="elevation-6"></div>
                  </v-col>
                  <v-col cols="10">
                    <v-text-field
                      v-model="formData.success_color"
                      label="Success Color"
                      :rules="[rules.color]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2">
                    <div style="width:35px;height: 35px;border-radius: 50%" :style="`background-color: ${formData.success_color}`" class="elevation-6"></div>
                  </v-col>
                  <v-col cols="10">
                    <v-text-field
                      v-model="formData.warning_color"
                      label="Warning Color"
                      :rules="[rules.color]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2">
                    <div style="width:35px;height: 35px;border-radius: 50%" :style="`background-color: ${formData.warning_color}`" class="elevation-6"></div>
                  </v-col>
                </v-row>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  text
                  @click="step = 1"
                >
                  Back
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                  :color="formData.success_color"
                  @click="step = 3"
                >
                  Next
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-stepper-content>
          <v-stepper-content step="3">
            <v-card>
              <v-card-text>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      persistent-hint
                      v-model="formData.username"
                      label="Username"
                      hint="Create a username to log in with"
                      :rules="[rules.required]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      persistent-hint
                      v-model="formData.password"
                      label="Password"
                      hint="Minimum 8 characters"
                      :rules="[rules.required]"
                      type="password"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      v-model="formData.password2"
                      label="Verify password"
                      :rules="[rules.required]"
                      type="password"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      v-model="formData.email"
                      label="Email address"
                      :rules="[rules.required]"
                      type="email"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      v-model="formData.email2"
                      label="Verify email"
                      :rules="[rules.required]"
                      type="email"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  text
                  @click="step = 2"
                >
                  Back
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                  text
                  :color="formData.success_color"
                  @click="submit"
                >
                  Finish
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-card-text>
  </v-card>
</v-container>
{% endblock %}


{% block data %}
{
  step: 0,
  formData: {
    site_title: 'My Teemo CMS',
    toolbar_title: 'My Teemo CMS',
    toolbar_color: '',
    background_color: '',
    primary_color: '#1976D2',
    secondary_color: '#424242',
    accent_color: '#82B1FF',
    error_color: '#FF5252',
    info_color: '#2196F3',
    success_color: '#4CAF50',
    warning_color: '#FFC107',
    dark_mode: true,
    username: null,
    email: null,
    email2: null,
    password: null,
    password2: null
  },
  toolbar_icon: null,
  toolbar_icon_url: null,
  favicon: null,
  favicon_url: null,
  darkMode: true,
  rules: {
    required: value => !!value || 'This field is required.',
    color: value => {
      let pattern = /^#[0-9a-fA-F]{6}$/
      return pattern.test(value) || 'Please enter a valid color hex code'
    }
  }
}
{% endblock %}


{% block methods %}
{
  submit() {
    let submitData = new FormData()
    if (this.toolbar_icon) {
      submitData.append("toolbar_icon", this.toolbar_icon, this.toolbar_icon.name)
    }
    if (this.favicon) {
      submitData.append("favicon", this.favicon, this.favicon.name)
    }
    for (let k in this.formData) {
      submitData.append(k, this.formData[k])
    }
    let csrf_token = Cookies.get('csrftoken')
    let headers = {
      'X-CSRFToken': csrf_token
    }
    this.$http.post('/api/settings/', submitData, {headers: headers})
      .then(r => window.location = "/")
      .catch(err => {
        this.$snotify.error(err.body, "Errors Found", {timeout: 5000})
      })
  }
}
{% endblock %}


{% block watch %}
  {
    darkMode: function(newDarkMode) {
      this.$vuetify.theme.dark = newDarkMode
      this.formData.dark_mode = newDarkMode
    },
    toolbar_icon: function(newToolbarIcon) {
      this.toolbar_icon_url = URL.createObjectURL(newToolbarIcon)
    },
    favicon: function(newFavicon) {
      this.favicon_url = URL.createObjectURL(newFavicon)
    },
  }
{% endblock %}