{% extends "base.html" %}


{% block title %}Galleries | {% endblock %}


{% block content %}
<v-container>
  <v-card
    class="mx-auto mb-12"
    max-width="800"
  >
    <v-card-title class="text-h5">Manage Galleries</v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <v-data-table
        :headers="headers"
        :items="galleries"
        sort-by="order"
      >
        <template v-slot:item.id="{ item }">
          <v-btn
            icon
            large
            color="success"
            :href="`/settings/galleries/${item.slug}/`"
          >
            <i class="fas fa-images fa-lg"></i>
          </v-btn>
          <v-btn
            icon
            large
            color="info"
            @click="openEditDialog(item.id)"
          >
            <i class="fas fa-edit fa-lg"></i>
          </v-btn>
          <v-btn
            icon
            large
            color="error"
            @click="deleteGallery(item.id)"
          >
            <i class="fas fa-trash-alt fa-lg"></i>
          </v-btn>
        </template>
      </v-data-table>
    </v-card-text>
    <v-card-text>
      <p class="text-body-1">Click the <span style="color: #4CAF50;"><i class="fas fa-images"></i></span> to add, delete, or reorder images for a gallery</p>
    </v-card-text>
    <v-btn
      fab
      absolute
      bottom
      right
      color="success"
      @click.stop="galleryDialog = true"
    >
      <i class="fas fa-plus fa-2x"></i>
    </v-btn>
  </v-card>
</v-container>

<v-dialog
  v-model="galleryDialog"
  max-width="600"
>
  <v-card>
    <v-card-title class="text-h5" v-if="editMode">Edit [[ formData.name ]] Gallery</v-card-title>
    <v-card-title class="text-h5" v-else>New Gallery</v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="12">
          <v-text-field
            persistent-hint
            label="Gallery Name"
            v-model="formData.name"
            hint="Artist name, collection name, any name you want to group a set of images together"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-text-field
            persistent-hint
            label="Gallery Slug"
            v-model="formData.slug"
            hint="The last part of the URL. Lowercase, dashes instead of spaces, no symbols. I.E. 'My Favorite Commissions' -> 'my-favorite-commissions'"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-text-field
            persistent-hint
            label="Order"
            v-model="formData.order"
            hint="Sets the order of galleries on the navbar dropdown"
          ></v-text-field>
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        text
        @click="closeDialog"
      >
        Cancel
      </v-btn>
      <v-btn
        text
        color="success"
        @click="saveDialog"
      >
        Save
      </v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
{% endblock %}


{% block data %}
  galleryDialog: false,
  editMode: false,
  editModePk: null,
  formData: {},
  headers: [
    {text: 'Gallery Name', value: 'name'},
    {text: 'Gallery Slug', value: 'slug'},
    {text: 'Order', value: 'order'},
    {text: 'Actions', value: 'id'}
  ],
  galleries: [
    {% for gallery in galleries %}
      {
        name: '{{ gallery.name }}',
        slug: '{{ gallery.slug }}',
        order: {{ gallery.order }},
        id: {{ gallery.id }}
      }{% if not forloop.last %},{% endif %}
    {% endfor %}
  ]
{% endblock %}


{% block methods %}
{
  closeDialog() {
    this.galleryDialog = false
    this.formData = {}
    this.editMode = false
    this.editModePk = null
  },
  openEditDialog(pk) {
    this.editMode = true
    this.editModePk = pk
    this.formData = this.galleries.filter(i => i.id == pk)[0]
    this.galleryDialog = true
  },
  saveDialog() {
    let csrf_token = Cookies.get('csrftoken')
    if(this.editMode) {
      this.$http.put(`/api/gallery/${this.editModePk}/`, this.formData, {headers: {'X-CSRFToken': csrf_token}})
        .then(r => {
          this.$snotify.success("Gallery updated successfully", "Saved")
          this.closeDialog()
        })
        .catch(err => {
          this.$snotify.error("Could not save. Check console for errors", "Error!")
          console.log(err)
        })
    } else {
      this.$http.post('/api/gallery/', this.formData, {headers: {'X-CSRFToken': csrf_token}})
        .then(r => r.json())
        .then(r => {
          this.$snotify.success("Gallery created successfully", "Created")
          this.formData.id = r.id
          this.galleries.push(this.formData)
          this.closeDialog()
        })
        .catch(err => {
          this.$snotify.error("Could not create gallery. Check console for errors", "Error!")
          console.log(err)
        })
    }
  },
  deleteGallery(pk) {
    let csrf_token = Cookies.get('csrftoken')
    this.$http.delete(`/api/gallery/${pk}/`, {headers: {'X-CSRFToken': csrf_token}})
      .then(r => {
        this.$snotify.success("Gallery deleted successfully", "Deleted")
        setTimeout(function(){
          window.location.reload()
        }, 2500)
      })
      .catch(err => {
          this.$snotify.error("Could not delete gallery. Check console for errors", "Error!")
          console.log(err)
        })
  }
}
{% endblock %}