{% extends "base.html" %}


{% block title %}Pages | {% endblock %}


{% block content %}
<v-container>
  <v-card
    class="mx-auto mb-12"
    max-width="600"
  >
    <v-card-title class="text-h5">Manage Pages</v-card-title>
    <v-divider></v-divider>

    <v-list>

      {% for page in pages %}

        <v-list-item
          @click="openEditDialog({{ page.pk }})"
        >
          <v-list-item-title>{{ page.title }}</v-list-item-title>
        </v-list-item>

        {% for subpage in page.children %}

          <v-list-item
            class="pl-8"
            @click="openEditDialog({{ subpage.pk }})"
          >
            <v-list-item-title><i class="fas fa-angle-right"></i> {{ subpage.title }}</v-list-item-title>
          </v-list-item>

          {% for subsubpage in subpage.children %}

            <v-list-item
              class="pl-12"
              @click="openEditDialog({{ subsubpage.pk }})"
            >
              <v-list-item-title><i class="fas fa-angle-double-right"></i> {{ subsubpage.title }}</v-list-item-title>
            </v-list-item>

          {% endfor %}

        {% endfor %}

      {% endfor %}

    </v-list>
    <v-divider></v-divider>
    <v-card-text class="text-body-1">
      <p>Pages can nested up to 3 levels deep, including the root.</p>
      <p>Any pages marked as "root" will appear on the navbar.</p>
      <p>Any pages marked as "root" with child pages must be marked as "dropdown" to show as a dropdown button on the navbar.</p>
    </v-card-text>
    <v-btn
      fab
      absolute
      bottom
      right
      color="success"
      @click.stop="pageDialog = true"
    >
      <i class="fas fa-plus fa-2x"></i>
    </v-btn>
  </v-card>
</v-container>

{# Edit and New dialog, for creating and modifying pages #}
<v-dialog
  v-model="pageDialog"
  max-width="600"
>
  <v-card>
    <v-card-title v-if="editMode" class="text-h5">Edit Page</v-card-title>
    <v-card-title v-else class="text-h5">New Page</v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="12" v-show="formData.title !== 'Home'">
          <v-text-field
            persistent-hint
            v-model="formData.title"
            label="Page Title"
            hint="This will show on the navbar and browser tab"
          ></v-text-field>
        </v-col>
        <v-col cols="12" v-show="formData.title !== 'Home'">
          <v-text-field
            persistent-hint
            v-model="formData.slug"
            label="Slug"
            hint="The last part of the URL. Lowercase, dashes instead of spaces, no symbols. I.E. 'My Commission Rates' -> 'my-commission-rates'"
          ></v-text-field>
        </v-col>
        <v-col cols="12" v-show="formData.title !== 'Home'">
          <v-text-field
            persistent-hint
            v-model="formData.order"
            label="Order"
            hint="Sets the order of links on the navbar and in dropdowns"
          ></v-text-field>
        </v-col>
        <v-col cols="12" v-show="formData.title !== 'Home'">
          <v-switch
            persistent-hint
            v-model="formData.root"
            label="Root Item"
            hint="Root items will display on the navbar directly."
          ></v-switch>
        </v-col>
        <v-col cols="12" v-show="formData.title !== 'Home'">
          <v-switch
            persistent-hint
            v-model="formData.dropdown"
            label="Dropdown Item"
            hint="Root items with child pages must be marked as a dropdown to access child pages"
          ></v-switch>
        </v-col>
        <v-col cols="12">
          <v-textarea
            persistent-hint
            v-model="formData.body"
            label="Page Body"
            hint="You can use <a href='https://www.markdownguide.org/basic-syntax' target='_blank'>Markdown</a>, <a href='https://vuetifyjs.com' target='_blank'>Vuetify</a> code, as well as plain HTML."
          ></v-textarea>
        </v-col>
        <v-col cols="12" v-show="formData.title !== 'Home'">
          <v-select
            persistent-hint
            v-model="formData.parent"
            label="Parent page"
            hint="Item will be a sub-page of the chosen page"
            :items="pageChoices"
            item-text="title"
            item-value="id"
          ></v-select>
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        text
        @click="closePageDialog"
      >
        Cancel
      </v-btn>
      <v-btn
        text
        color="error"
        v-if="editMode"
        @click="deletePage"
      >
        Delete Page
      </v-btn>
      <v-btn
        text
        color="success"
        v-if="editMode"
        @click="savePage"
      >
        Save Changes
      </v-btn>
      <v-btn
        text
        color="success"
        v-else
        @click="addPage"
      >
        Add Page
      </v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
{% endblock %}


{% block data %}
  formData: {},
  pageDialog: false,
  editMode: false,
  editModePk: null,
  pageChoices: []
{% endblock %}


{% block methods %}
{
  openEditDialog(pk) {
    let page = this.pageChoices.filter(obj => obj.id == pk)[0]
    this.formData = {
      title: page.title,
      slug: page.slug,
      order: page.order,
      root: page.root,
      dropdown: page.dropdown,
      body: page.body,
      parent: page.parent
    }
    this.editModePk = page.id
    this.editMode = true
    this.pageDialog = true
  },
  getPageChoices() {
    this.$http.get('/api/page/')
      .then(r => r.json())
      .then(r => this.pageChoices = r)
      .catch(err => {
        console.log(err)
        this.$snotify.error("Error loading data, check console for errors.", "Error!")
      })
  },
  savePage() {
    let csrf_token = Cookies.get('csrftoken')
    this.$http.put(`/api/page/${this.editModePk}/`, this.formData, {headers: {'X-CSRFToken': csrf_token}})
      .then(r => {
        this.$snotify.success("Page saved successfully", "Saved")
        setTimeout(function(){
          window.location.reload()
        }, 2500)
      })
      .catch(err => {
        console.log(err)
        this.$snotify.error("Check console for errors", "Error!")
      })
  },
  addPage() {
    let csrf_token = Cookies.get('csrftoken')
    this.$http.post('/api/page/', this.formData, {headers: {'X-CSRFToken': csrf_token}})
      .then(r => {
        this.$snotify.success("Page created successfully", "Created")
        setTimeout(function(){
          window.location.reload()
        }, 2500)
      })
      .catch(err => {
        console.log(err)
        this.$snotify.error("Check console for errors", "Error!")
      })
  },
  deletePage() {
    let csrf_token = Cookies.get('csrftoken')
    this.$http.delete(`/api/page/${this.editModePk}/`, {headers: {'X-CSRFToken': csrf_token}})
      .then(r => {
        this.$snotify.success("Page deleted successfully", "Deleted")
        setTimeout(function(){
          window.location.reload()
        }, 2500)
      })
      .catch(err => {
        console.log(err)
        this.$snotify.error("Check console for errors", "Error!")
      })
  },
{#  openPageDialog() {#}
{#    this.formData#}
{#  },#}
  closePageDialog() {
    this.pageDialog = false
    this.editModePk = null,
    this.editMode = false
    this.formData = {}
  },
}
{% endblock %}


{% block mounted %}
{
  this.getPageChoices()
}
{% endblock %}