{% extends "base.html" %}


{% block title %}Theme | {% endblock %}


{% block content %}
<v-container>
  <v-card
    class="mx-auto mb-12"
    max-width="600"
  >
    <v-card-title class="text-h5">Manage Site & Theme Settings</v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <v-row>
        <v-col cols="12">
          <v-text-field
            persistent-hint
            v-model="formData.site_title"
            label="Site Title"
            hint="Site title, e.g. 'Teemo CMS' or 'Atoro's Art'."
            :rules="[rules.required]"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-text-field
            persistent-hint
            v-model="formData.toolbar_title"
            label="Toolbar Title (Optional)"
            hint="Shows on the site navigation bar. Usually the same as the site title."
          ></v-text-field>
        </v-col>
        <v-col cols="6" md="8" lg="9">
          <v-file-input
            persistent-hint
            label="Toolbar Icon (optional)"
            prepend-icon="mdi-camera"
            accept="image/png, image/jpeg, image/bmp"
            hint="Icon to the left of the toolbar title"
            v-model="toolbar_icon"
          ></v-file-input>
        </v-col>
        <v-col cols="6" md="4" lg="3">
          <img :src="toolbar_icon_url" width="60" height="60" v-show="!!toolbar_icon_url"/>
        </v-col>
        <v-col cols="6" md="8" lg="9">
          <v-file-input
            persistent-hint
            label="Favicon (optional)"
            prepend-icon="mdi-camera"
            accept="image/png, image/jpeg, image/bmp"
            hint="Icon in the browser tab and bookmarks"
            v-model="favicon"
          ></v-file-input>
        </v-col>
        <v-col cols="6" md="4" lg="3">
          <img :src="favicon_url" width="60" height="60" v-show="!!favicon_url"/>
        </v-col>
      </v-row>
    </v-card-text>
    <v-divider></v-divider>
    <v-card-text>
      <v-row>
        <v-col cols="12">
          <v-switch v-model="formData.dark_mode" label="Dark Mode" color="primary"></v-switch>
        </v-col>
        <v-col cols="10">
          <v-text-field
            persistent-hint
            v-model="formData.toolbar_color"
            label="Toolbar Color (Optional)"
            :hint="`Leave blank for default ${formData.darkMode ? 'dark' : 'light'} mode color`"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <div style="width:35px;height: 35px;border-radius: 50%" :style="`background-color: ${formData.toolbar_color}`" class="elevation-6"></div>
        </v-col>
        <v-col cols="10">
          <v-text-field
            persistent-hint
            v-model="formData.background_color"
            label="Background Color (Optional)"
            :hint="`Leave blank for default ${formData.darkMode ? 'dark' : 'light'} mode color`"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <div style="width:35px;height: 35px;border-radius: 50%" :style="`background-color: ${formData.background_color}`" class="elevation-6"></div>
        </v-col>
        <v-col cols="10">
          <v-text-field
            v-model="formData.primary_color"
            label="Primary Color"
            :rules="[rules.color]"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <div style="width:35px;height: 35px;border-radius: 50%" :style="`background-color: ${formData.primary_color}`" class="elevation-6"></div>
        </v-col>
        <v-col cols="10">
          <v-text-field
            v-model="formData.secondary_color"
            label="Secondary Color"
            :rules="[rules.color]"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <div style="width:35px;height: 35px;border-radius: 50%" :style="`background-color: ${formData.secondary_color}`" class="elevation-6"></div>
        </v-col>
        <v-col cols="10">
          <v-text-field
            v-model="formData.accent_color"
            label="Accent Color"
            :rules="[rules.color]"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <div style="width:35px;height: 35px;border-radius: 50%" :style="`background-color: ${formData.accent_color}`" class="elevation-6"></div>
        </v-col>
        <v-col cols="10">
          <v-text-field
            v-model="formData.error_color"
            label="Error Color"
            :rules="[rules.color]"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <div style="width:35px;height: 35px;border-radius: 50%" :style="`background-color: ${formData.error_color}`" class="elevation-6"></div>
        </v-col>
        <v-col cols="10">
          <v-text-field
            v-model="formData.info_color"
            label="Info Color"
            :rules="[rules.color]"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <div style="width:35px;height: 35px;border-radius: 50%" :style="`background-color: ${formData.info_color}`" class="elevation-6"></div>
        </v-col>
        <v-col cols="10">
          <v-text-field
            v-model="formData.success_color"
            label="Success Color"
            :rules="[rules.color]"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <div style="width:35px;height: 35px;border-radius: 50%" :style="`background-color: ${formData.success_color}`" class="elevation-6"></div>
        </v-col>
        <v-col cols="10">
          <v-text-field
            v-model="formData.warning_color"
            label="Warning Color"
            :rules="[rules.color]"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <div style="width:35px;height: 35px;border-radius: 50%" :style="`background-color: ${formData.warning_color}`" class="elevation-6"></div>
        </v-col>
      </v-row>
    </v-card-text>
    <v-divider></v-divider>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        text
        color="success"
        @click="saveSettings"
      >
        Save Changes
      </v-btn>
    </v-card-actions>
  </v-card>
</v-container>
{% endblock %}


{% block data %}
  formData: {
    site_title: '{{ settings.site_title|escapejs }}',
    toolbar_title: '{{ settings.toolbar_title|escapejs }}',
    toolbar_color: '{{ settings.toolbar_color }}',
    background_color: '{{ settings.background_color }}',
    primary_color: '{{ settings.primary_color }}',
    secondary_color: '{{ settings.secondary_color }}',
    accent_color: '{{ settings.accent_color }}',
    error_color: '{{ settings.error_color }}',
    info_color: '{{ settings.info_color }}',
    success_color: '{{ settings.success_color }}',
    warning_color: '{{ settings.warning_color }}',
    dark_mode: {{ settings.dark_mode|yesno:'true,false' }},
  },
  toolbar_icon: null,
  toolbar_icon_url: null,
  favicon: null,
  favicon_url: null,
  rules: {
    required: value => !!value || 'This field is required.',
    color: value => {
      let pattern = /^#[0-9a-fA-F]{6}$/
      return pattern.test(value) || 'Please enter a valid color hex code'
    }
  }
{% endblock %}


{% block methods %}
{
  saveSettings() {
    let submitData = new FormData()
    if (this.toolbar_icon) {
      submitData.append("toolbar_icon", this.toolbar_icon, this.toolbar_icon.name)
    }
    if (this.favicon) {
      submitData.append("favicon", this.favicon, this.favicon.name)
    }
    for (let k in this.formData) {
      submitData.append(k, this.formData[k])
    }
    let csrf_token = Cookies.get('csrftoken')
    this.$http.put('/api/settings/', submitData, {headers: {'X-CSRFToken': csrf_token}})
      .then(r => {
        this.$snotify.success("Settings saved", "Success")
        setTimeout(function(){
          window.location.reload()
        }, 2500)
      })
      .catch(err => {
        console.log(err)
        this.$snotify.error("A problem occurred when saving the settings. Check the console for errors.", "Error!")
      })
  }
}
{% endblock %}


{% block watch %}
{
  toolbar_icon: function(newToolbarIcon) {
      this.toolbar_icon_url = URL.createObjectURL(newToolbarIcon)
    },
    favicon: function(newFavicon) {
      this.favicon_url = URL.createObjectURL(newFavicon)
    },
}
{% endblock %}