{% extends "base.html" %}
{% load static %}


{% block title %}{{ object.title }} | {% endblock %}


{% block additional_header %}
  <meta property="og:title" content="{{ object.title }}" />
  {% if settings.favicon %}
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ settings.favicon.url }}" />
  {% else %}
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static '/img/teemo-cms.png' %}">
  {% endif %}
  <meta property="og:description" content="{{ page_content|striptags|truncatewords:20 }}" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
{% endblock %}


{% block content %}
  {{ page_content }}
{% endblock %}