{% extends "base.html" %}


{% block content %}
<v-container>
  {% for entry in page_obj %}
    <v-card class="mb-6">
      <v-card-title class="text-h5 mb-0 pb-0">
      {{ entry.title }}
      </v-card-title>
      <v-card-title class="text-body-1 mt-0 pt-0 mb-6">
        Published {{ entry.published|date }} by {{ entry.author.username|title }}
      </v-card-title>
      <v-card-text>
        <p class="text-body-1">
          {{ entry.get_body_as_markdown|truncatewords:50 }}
        </p>
        <p class="text--secondary">{% for tag in entry.get_tags %}{{ tag }}{% if not forloop.last %},{% endif %}{% endfor %}</p>
      </v-card-text>
      <v-card-actions>
        <v-btn
          text
          href="{% url 'blog-entry-detail' entry.slug %}"
        >
          Read More
        </v-btn>
      </v-card-actions>
    </v-card>
  {% endfor %}
  <v-pagination
    v-model="page"
    :length="pages"
    total-visible="7"
  ></v-pagination>
</v-container>
{% endblock %}


{% block data %}
  page: {{ page_obj.number }},
  pages: {{ paginator.num_pages }}
{% endblock %}