{% extends "base.html" %}


{% block content %}
<v-container>
  <v-card>
    <v-card-title class="text-h5 mb-0 pb-0">
      {{ object.title }}
    </v-card-title>
    <v-card-title class="text-body-1 mt-0 pt-0 mb-6">
      Published {{ object.published|date }} by {{ object.author.username|title }}
    </v-card-title>
    <v-card-text>{{ blog_content }}</v-card-text>
    <v-divider></v-divider>
    <v-card-actions>
      <div class="text-center flex-grow-1">
        <v-btn
          color="primary"
          {% if first_entry.slug == object.slug %}
            disabled
          {% else %}
            href="{% url "blog-entry-detail" first_entry.slug %}"
          {% endif %}
          style="width:36px; min-width: 36px;"
        >
          <i class="fas fa-angle-double-left fa-lg"></i>
        </v-btn>
        <v-btn
          color="primary"
          {% if previous_entry %}
            href="{% url "blog-entry-detail" previous_entry.slug %}"
          {% else %}
            disabled
          {% endif %}
          style="width:36px; min-width: 36px;"
        >
          <i class="fas fa-angle-left fa-lg"></i>
        </v-btn>
        <v-btn
          color="primary"
          {% if next_entry %}
            href="{% url "blog-entry-detail" next_entry.slug %}"
          {% else %}
            disabled
          {% endif %}
          style="width:36px; min-width: 36px;"
        >
          <i class="fas fa-angle-right fa-lg"></i>
        </v-btn>
        <v-btn
          color="primary"
          {% if latest_entry.slug == object.slug %}
            disabled
          {% else %}
            href="{% url "blog-entry-detail" latest_entry.slug %}"
          {% endif %}
          style="width:36px; min-width: 36px;"
        >
          <i class="fas fa-angle-double-right fa-lg"></i>
        </v-btn>
      </div>
    </v-card-actions>
    <v-btn
      fab
      absolute bottom left
      color="info"
      href="{% url 'blog-list-view' %}"
    >
      <v-icon>mdi-arrow-left</v-icon>
    </v-btn>
  </v-card>
</v-container>
{% endblock %}