{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2/dist/vuetify.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-snotify@3.2.1/styles/material.min.css">
  <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
  {% if settings.favicon %}
  <link rel="icon" href="{{ settings.favicon.url }}">
  {% endif %}
  <script defer src="{% static 'js/solid.min.js' %}"></script>
  <script defer src="{% static 'js/fontawesome.min.js' %}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>{% block title %}{% endblock %}{{ settings.site_title }}</title>
  <meta property="og:site_name" content="{{ settings.site_title }}" />
  {% block additional_header %}
    <meta property="og:title" content="{{ settings.site_title }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  {% endblock %}
</head>

<body>
  <v-app
    id="app"
    v-cloak
    {% if settings.background_color %}
      style="background-color: {{ settings.background_color }}"
    {% endif %}
  >
    <template>
      <v-app-bar
        app
        {% if settings.toolbar_color %}
          color="{{ settings.toolbar_color }}"
        {% endif %}
      >
        <v-app-bar-nav-icon
          class="d-sm-none"
          @click="sideMenu = true"
        ></v-app-bar-nav-icon>
        {% if settings.toolbar_icon %}
          <v-toolbar-title
            class="mr-2 d-none d-sm-block"
          >
            <v-img
              contain
              src="{{ settings.toolbar_icon.url }}"
              max-height="50"
              max-width="50"
            ></v-img>
          </v-toolbar-title>
        {% endif %}
        <v-toolbar-title><a href="/" class="toolbar-link">{{ settings.toolbar_title }}</a></v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items class="d-none d-sm-block">
          <v-btn text href="{% url 'home' %}">Home</v-btn>

          {% for page in pages %}
            {% if not page.title == 'Home' %}
              {% if page.dropdown %}
                <v-menu
                  offset-y
                  :close-on-content-click="false"
                >
                  <template v-slot:activator="{ on }">
                    <v-btn
                      text
                      v-on="on"
                    >
                      {{ page.title }} <i class="fas fa-caret-down ml-1"></i>
                    </v-btn>
                  </template>
                  <v-list>
                    {% for child in page.children %}
                      {% if child.children %}
                        <v-list-group color="info">
                          <template v-slot:activator>
                            <v-list-item-title>{{ child.title }}</v-list-item-title>
                          </template>
                          {% for subpage in child.children %}
                            <v-list-item
                              link
                              href="{% url 'custom-page' subpage.slug %}"
                            >
                              <v-list-item-title>{{ subpage.title }}</v-list-item-title>
                            </v-list-item>
                          {% endfor %}
                        </v-list-group>
                      {% else %}
                        <v-list-item
                          href="{% url 'custom-page' child.slug %}"
                        >
                          <v-list-item-title>{{ child.title }}</v-list-item-title>
                        </v-list-item>
                      {% endif %}
                    {% endfor %}
                  </v-list>
                </v-menu>
              {% else %}
                <v-btn
                  text
                  href="{% url 'custom-page' page.slug %}"
                >
                  {{ page.title }}
                </v-btn>
              {% endif %}
            {% endif %}
          {% endfor %}

          {% if has_blog_entries %}
          <v-btn text href="{% url "blog-list-view" %}">Blog</v-btn>
          {% endif %}

          {% if galleries %}
          <v-menu offset-y>
            <template v-slot:activator="{ on }">
              <v-btn
                text
                v-on="on"
              >
                Galleries <i class="fas fa-caret-down ml-1"></i>
              </v-btn>
            </template>
            <v-list>
              {% for gallery in galleries %}
                <v-list-item href="{% url 'gallery' gallery.slug %}">{{ gallery.name }}</v-list-item>
              {% endfor %}
            </v-list>
          </v-menu>
          {% endif %}

        </v-toolbar-items>
      </v-app-bar>
    </template>
    <v-main>
      <v-container style="max-width: 1200px;" {% block container-attributes %}{% endblock %}>
        {% block content %}{% endblock %}
        {% if user.is_authenticated %}
          <v-speed-dial
            fixed
            bottom
            right
          >
            <template v-slot:activator>
              <v-btn
                fab
                color="primary"
              >
                <i class="fas fa-cog fa-2x"></i>
              </v-btn>
            </template>
            <v-btn
              fab
              small
              color="error"
              href="{% url 'logout' %}"
            >
              <i class="fas fa-sign-out-alt fa-lg"></i>
            </v-btn>
            <v-btn
              fab
              small
              color="info"
              href="{% url 'theme-settings' %}"
            >
              <i class="fas fa-palette fa-lg"></i>
            </v-btn>
            <v-btn
              fab
              small
              color="success"
              href="{% url 'pages-settings' %}"
            >
              <i class="fas fa-file-alt fa-lg"></i>
            </v-btn>
            <v-btn
              fab
              small
              color="success"
              href="{% url 'tag-edit-list' %}"
            >
              <i class="fas fa-tags fa-lg"></i>
            </v-btn>
            <v-btn
              fab
              small
              color="success"
              href="{% url 'blog-edit-list' %}"
            >
              <i class="fas fa-quote-right fa-lg"></i>
            </v-btn>
            <v-btn
              fab
              small
              color="success"
              href="{% url 'gallery-list-settings' %}"
            >
              <i class="fas fa-images fa-lg"></i>
            </v-btn>
          </v-speed-dial>
        {% endif %}
      </v-container>
      <vue-snotify></vue-snotify>
    </v-main>
    <v-footer>
      Copyright &copy; {% now 'Y' %} {{ settings.site_title }}
      <v-spacer></v-spacer>
      {% if not user.is_authenticated %}
        <v-btn
          text
          small
          href="{% url 'login' %}"
          color="info"
        >
        Login
        </v-btn>
      {% endif %}
    </v-footer>
    <v-navigation-drawer
      app
      v-model="sideMenu"
    >
      <v-list nav dense>
        <v-list-item
          href="/"
          link
        >
          <v-list-item-icon>
            <i class="fas fa-home fa-lg"></i>
          </v-list-item-icon>
          <v-list-item-title>
            Home
          </v-list-item-title>
        </v-list-item>
        {% for page in pages %}
          {% if not page.title == 'Home' %}
            {% if page.dropdown %}
              <v-list-group no-action>
              <template v-slot:activator>
                <v-list-item-title>{{ page.title }}</v-list-item-title>
              </template>
              {% for child in page.children %}
                {% if child.children %}
                  <v-list-group
                    no-action
                    sub-group
                  >
                    <template v-slot:activator>
                      <v-list-item-content>
                        <v-list-item-title>{{ child.title }}</v-list-item-title>
                      </v-list-item-content>
                    </template>
                    {% for subpage in child.children %}
                      <v-list-item
                        link
                        href="{% url 'custom-page' subpage.slug %}"
                      >
                        <v-list-item-title>{{ subpage.title }}</v-list-item-title>
                      </v-list-item>
                    {% endfor %}
                  </v-list-group>
                {% else %}
                  <v-list-item href="{% url 'custom-page' child.slug %}">
                    <v-list-item-title>{{ child.title }}</v-list-item-title>
                  </v-list-item>
                {% endif %}
              {% endfor %}
              </v-list-group>
            {% else %}
              <v-list-item href="{% url 'custom-page' page.slug %}">
                <v-list-item-title>{{ page.title }}</v-list-item-title>
              </v-list-item>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if galleries %}
          <v-list-group no-action>
            <template v-slot:activator>
              <v-list-item-title>Galleries</v-list-item-title>
            </template>
            {% for gallery in galleries %}
              <v-list-item
                link
                href="{% url 'gallery' gallery.slug %}"
              >
                <v-list-item-title>
                  {{ gallery.name }}
                </v-list-item-title>
              </v-list-item>
            {% endfor %}
          </v-list-group>
        {% endif %}
      </v-list>
    </v-navigation-drawer>
  </v-app>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2/dist/vuetify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1/dist/vue-resource.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-snotify@3/vue-snotify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        vuetify: new Vuetify({
          theme: {
            dark: {{ settings.dark_mode|yesno:'true,false' }},
            themes: {
              {{ settings.dark_mode|yesno:'dark,light' }}: {
                primary: '{{ settings.primary_color }}',
                secondary: '{{ settings.secondary_color }}',
                accent: '{{ settings.accent_color }}',
                error: '{{ settings.error_color }}',
                info: '{{ settings.info_color }}',
                success: '{{ settings.success_color }}',
                warning: '{{ settings.warning_color }}',
              }
            }
          },
        }),
        data: {
          sideMenu: false,
          {% block data %}
          {% endblock %}
        },
        methods: {% block methods %}{}{% endblock %},
        watch: {% block watch %}{}{% endblock %},
        mounted() {% block mounted %}{}{% endblock %}
    });
  </script>
  {% block additional_scripts %}{% endblock %}
</body>
</html>