{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="{% static 'css/vuetify.min.css' %}" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/snotify-material.css' %}">
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
  <script defer src="{% static 'js/solid.min.js' %}"></script>
  <script defer src="{% static 'js/fontawesome.min.js' %}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>{% block title %}{% endblock %}Teemo CMS</title>
  {% block additional_header %}{% endblock %}
</head>

<body>
  <div id="app" v-cloak>
    <v-app>
      <v-content>
        <v-container style="max-width: 1200px;">
          {% block content %}{% endblock %}
        </v-container>
        <vue-snotify></vue-snotify>
      </v-content>
    </v-app>
  </div>

  <script src="{% static 'js/vue.js' %}"></script>
  <script src="{% static 'js/vuetify.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
  <script src="{% static "js/vue-snotify.min.js" %}"></script>
  <script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        vuetify: new Vuetify({
          theme: {
            dark: true
          }
        }),
        data: {% block data %}{}{% endblock %},
        methods: {% block methods %}{}{% endblock %},
        watch: {% block watch %}{}{% endblock %},
    });
  </script>
  {% block additional_scripts %}{% endblock %}
</body>
</html>